# Godot 4+ specific ignores
.godot/
/.vs/GENERAL HOSTILITY/DesignTimeBuild/.dtbcache.v2
/.vs/GENERAL HOSTILITY/FileContentIndex/2a7af3d6-d336-418c-97a5-0ff1f8a69ae2.vsidx
/.vs/GENERAL HOSTILITY/FileContentIndex/c2fd105e-3a98-4614-a5a3-d84e4df865df.vsidx
/.vs/GENERAL HOSTILITY/v17/.suo
/.vs/GENERAL HOSTILITY/FileContentIndex/02b0548b-4afc-45ec-91c0-c17a1f14ae6b.vsidx
*.vsidx
/.vs/GENERAL HOSTILITY/FileContentIndex/d6dd7001-cd39-4e4b-951f-86301c74327c.vsidx
/LogicModule/obj/Debug/net6.0/PathfindingModule.assets.cache
/LogicModule/obj/Debug/net6.0/PathfindingModule.dll
/LogicModule/obj/Debug/net6.0/PathfindingModule.GeneratedMSBuildEditorConfig.editorconfig
/LogicModule/obj/Debug/net6.0/PathfindingModule.csproj.FileListAbsolute.txt
/LogicModule/obj/Debug/net6.0/PathfindingModule.pdb
/LogicModule/obj/PathfindingModule.csproj.nuget.dgspec.json
/LogicModule/obj/project.assets.json
/LogicModule/obj/project.nuget.cache
/LogicModule/bin/Debug/net6.0/PathfindingModule.pdb
/LogicModule/bin/Debug/net6.0/PathfindingModule.dll
LogicModule/obj/
LogicModule/bin/
obj/
bin/
/LogicModule/obj/Debug/net6.0/ref/PathfindingModule.dll
/LogicModule/obj/Debug/net6.0/refint/PathfindingModule.dll
/LogicModule/obj/Debug/net6.0/PathfindingModule.csproj.CoreCompileInputs.cache
/.vs/ProjectEvaluation/general hostility.projects.v5.2
/.vs/ProjectEvaluation/general hostility.metadata.v5.2
/.vs/GENERAL HOSTILITY/v17/.futdcache.v2
/.vs/GENERAL HOSTILITY/v17/TestStore/0/000.testlog
/LogicModule/obj/Debug/net6.0/LogicModule.GeneratedMSBuildEditorConfig.editorconfig
/LogicModule/obj/Debug/net6.0/LogicModule.csproj.AssemblyReference.cache
/LogicModule/obj/Debug/net6.0/LogicModule.assets.cache
